body{
	font-family:"Candara";
}
.btn{
	font-family:"Candara";
}
p{
	font-family:"Candara";
	text-align:justify;
}
h1{
	text-align:center;
	font-family:"Candara";
}
h4{
	font-family:"Candara";
}
h3{
text-transform:capitalize;

}
h5{
	font-size:8px;
}
hr{
	color:black;
	background-color:black;
}
